html {
  scroll-behavior: smooth;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;

  background-image: url('./assets/Free-Professional-Dark-Carbon-Patterns.jpg');
  background-size: auto;
  height: 100%;
}